body{ background-color:rgb(241, 101, 241);}

    

.a{
    display: inline-block;
    background-color:white;
    width: 250px;
    height: 140px;
    margin: 10px;
    overflow: hidden;

}
.c{
    font-weight: bold;
    font-size: large;
    border-top: 3px solid; 
    border-bottom: 3px solid;
    display: inline-block;
    width: 100%;
    height: 120px;
    overflow-x: hidden;

}
